$color-magenta: #f72585ff;
$color-purple: #7209b7ff;
$color-violet: #3a0ca3ff;
$color-indigo: #4361eeff;
$color-green: rgba(67, 238, 118, 0.972);
$color-yellow: rgb(227, 238, 67);
$color-blue: #4cc9f0ff;
$color-white: rgb(229, 245, 250);
$color-black: rgb(4, 0, 12);
